In [1]:
import json
import numpy as np
import pandas as pd
import csv
import gluonnlp as nlp
import multiprocessing as mp
import re

## Load and merge the data
The source is Kaggle, [IMDB Spoiler Dataset](https://www.kaggle.com/rmisra/imdb-spoiler-dataset). The downloaded zip includes two files, we will demonstrate some of their contents below.

In [2]:
df_reviews = pd.read_json('./data/imdb/IMDB_reviews.json', lines=True).\
             drop_duplicates('review_text').sample(frac=1)
df_reviews.review_date = pd.to_datetime(df_reviews.review_date, infer_datetime_format=True)
df_reviews.user_id = df_reviews.user_id.astype('category')
print(df_reviews.shape)
review_fields = [field for field in df_reviews]
df_reviews.tail()

(573385, 7)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
215749,2014-09-22,tt2872732,ur55379996,False,Went to this movie with several family members...,8,Brilliant
186531,2015-09-22,tt1454468,ur10930023,False,I know this flick is classified as science fic...,2,As vacuous as space itself
542919,2002-05-18,tt0118571,ur1639009,False,A1 acting and casting. Story-line excellent b...,10,Excellently acted & portrayed. Slightly futur...
420259,2007-12-29,tt0467406,ur17896607,False,I've come to expect good things from Fox Searc...,10,a memorable piece of cinema
529592,2007-03-04,tt0117731,ur1054286,True,"It's a mystery to many people, particularly ""S...",8,One of the Best Trek Films.

In [3]:
# the total number of spoilers in dataset
num_spoilers = sum(df_reviews.is_spoiler)
print('num of spoilers in all: %d\nration of spoilers in all: %.4f\na dummy classifier can achieve acc of %.4f' \
      % (num_spoilers, num_spoilers / df_reviews.shape[0], \
         1 - num_spoilers / df_reviews.shape[0]))
# only less than 20% of the user comments' explicitly say that they contain spoilers
num_notice = df_reviews.review_text.str.contains('spoiler', case=False).sum() / \
             df_reviews.is_spoiler.sum()
print('a rough estimation of how many users declare their reviews as spoilers: %.4f' % num_notice)

num of spoilers in all: 150856
ration of spoilers in all: 0.2631
a dummy classifier can achieve acc of 0.7369
a rough estimation of how many users declare their reviews as spoilers: 0.1752

In [ ]:
tokenizer = nlp.data.SpacyTokenizer('en')
def get_word_count(x):
    return len(tokenizer(x))

with mp.Pool() as pool:
    length_list = pool.map(get_word_count, df_reviews.review_text)

In [5]:
print('the average number of words in a review is:', round(sum(length_list) / df_reviews.shape[0]))

the average number of words in a review is: 303

In [3]:
# imdb information about the movies
df_movies = pd.read_json('./data/imdb/IMDB_movie_details.json', lines=True)
df_movies.release_date = pd.to_datetime(df_movies.release_date, infer_datetime_format=True)
print(df_movies.shape)
df_movies.tail()

(1572, 7)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
1567,tt0289879,Evan Treborn grows up in a small town with his...,1h 53min,"[Sci-Fi, Thriller]",7.7,2004-01-23,"In the year 1998, Evan Treborn (Ashton Kutcher..."
1568,tt1723811,Brandon is a 30-something man living in New Yo...,1h 41min,[Drama],7.2,2012-01-13,"Brandon (Michael Fassbender) is a successful, ..."
1569,tt5013056,Evacuation of Allied soldiers from the British...,1h 46min,"[Action, Drama, History]",8.1,2017-07-21,The film alternates between three different pe...
1570,tt0104014/,"For a while now, beautiful 24-year-old Diana B...",1h 33min,"[Comedy, Drama]",5.3,1992-02-21,
1571,tt0114142/,"The marriage of David Burgess, a senior execut...",1h 32min,"[Drama, Thriller]",4.0,1999-01-29,

In [4]:
with mp.Pool() as pool:
    length_list = pool.map(get_word_count, df_movies.plot_synopsis)
print('the average number of words in a plot synopsis is %d' % \
      round(sum(length_list) / df_movies.shape[0]))

NameError: name 'get_word_count' is not defined

In [5]:
# join the two dataframe according to movie id
df_reviews = df_reviews.merge(df_movies, on="movie_id", how="left", suffixes=('_review','_movie'))

In [6]:
df_train = pd.DataFrame(columns=['movie_id', 'sentence1', 'sentence2', 'label'])

df_train['movie_id'] = df_reviews['movie_id']

summaries = pd.Series([re.split('\s*Written by\s*\n', str(plot))[0] for plot in df_reviews['plot_summary']])
synopses = pd.Series([str(synopsis) for synopsis in df_reviews['plot_synopsis']])
'''
num=0
for synopsis in synopses:
    if len(synopsis)>10:
        num+=1
print(num)
-> output: 538318, most of them has synopses
'''
df_train['sentence1'] = pd.Series([synopses[i] if len(synopses[i])>len(summaries[i]) else summaries[i] \
                                  for i in range(len(synopses))])
df_train['sentence2'] = df_reviews['review_summary'] + ' ' + df_reviews['review_text']
df_train['label'] = df_reviews['is_spoiler']
df_train.tail()

,movie_id,sentence1,sentence2,label
573380,tt2872732,"In the opening shot, we see a cell split up in...",Brilliant Went to this movie with several fami...,False
573381,tt1454468,"In 2014/2015, bio-medical engineer Dr. Ryan St...",As vacuous as space itself I know this flick i...,False
573382,tt0118571,The film begins with an American Special Force...,Excellently acted & portrayed. Slightly futur...,False
573383,tt0467406,The film opens with Juno (Ellen Page) staring ...,a memorable piece of cinema I've come to expec...,False
573384,tt0117731,Captain Jean-Luc Picard awakens from a nightma...,One of the Best Trek Films. It's a mystery to ...,True

In [7]:
df_train['movie_id'][233], df_train['sentence1'][233]

('tt0245844',
 "In the turbulent days in which France was transitioning away from Napoleonic rule, Edmond Dantes (Caviezel) and his closest friend, Fernand Mondego (Pearce), aspire to gain the same two things: the next captaincy of a ship in Morel's (Godfrey) Marseille-based shipping business and the hands of the lovely Mercedes Iguanada (Dominczyk).Dantes and Mondego are diverted to Elba on a shipping mission because their captain requires medical attention. Assistance comes, unexpectedly, in the form of the personal physician of the exiled Napoleon (Norton). In return for the use of his doctor, Napoleon demands that Dantes deliver a letter for him and that the mission and the letter be kept a secret. Unknown to the illiterate Dantes, the letter will provide Bonapartists in Marseille information of pertinence to a possible rescue of Napoleon. Also unknown to him, Fernand has discovered and read the letter and has full knowledge of its contents.On his return to France, Dantes's fortunes peak as Morel names him captain of one of his ships and an improved station in life prompts Edmond to propose to Mercedes, who accepts the offer. In the process of being beaten out of the two things that matter most to him in life, the jealous Fernand knows that the letter Dantes is carrying can be used to falsely implicate him in an act that might be viewed by local authorities as treasonous. Fernand, and his confidant, shipping colleague Danglars (Woodington), betray Dantes by making the magistrate Villefort (Frain) aware of the letter.Dantes is taken by local authorities in front of Villefort. Despite his determination that Dantes is innocent of any crime, he becomes edgy upon learning that the letter was addressed to Noirtier Villefort, a known Bonpartist, and, consequently, a politically inconvenient father for a young man aspiring to a prominent law career in post-Napoleonic France. To eliminate all evidence that his father was involved in plans for an escape attempt by Napoleon from Elba, Villefort burns the letter and has Dantes arrested and taken to the Chateau D'If, a maximum security prison, where Dantes rots for over a decade, with no prospects of getting out in the imaginable future.Dantes befriends a fellow prisoner named Abbe Faria (Harris), who is a great scholar and who, very gradually, transforms the unworldly Dantes into a wise, learned and cultivated man. Faria is an old man, however, and when he comes to realize that he is fatally ill, he tells Dantes of a great treasure and where it is buried.Secretly placing himself in Faria's burial sack, which is to be thrown over the cliffs and into the river alongside the prison, Dantes manages to escape. After a dangerous ordeal in which he mingles with, but ultimately befriends, an enterprising, yet violent, group of smugglers led by Luigi Vampa (Blanc), he makes his way back to Marseilles. Dantes now turns his attention to claiming the treasure Abbe Faria had referred to.After locating the treasure, Dantes's riches are suddenly boundless, but rather than retiring to a life of leisure, his new raison d'etre is vengeance, with the objects of his revenge being Fernand (now a count), Danglars (now a baron), and Villefort (now a chief prosecutor), all of whom live in Paris. As they are now members of Parisian high society, Dantes realizes that to gain access to them, he'll need to reinvent himself, and uses some of his newfound riches to purchase a huge estate near Paris. He then proclaims himself to be the Count of Monte Cristo, and although nobody knows of him, his claim is very credible in view of his visibly substantial wealth.The Count plans a party at his new estate and invites many members of Parisian high society, including all the objects of his vengeance. Now having considerable access to each of them, one at a time, he successfully sets them up for failure. Danglars is tricked into an act of embezzlement and Villefort is tricked into confessing to conspiracy to have his own father murdered within earshot of local authorities.The Count gains close access to Fernand and Mercedes, who are now husband and wife, by paying the smuggler Luigi Vampa to pretend to kidnap their son, Albert. This enables the Count himself to save Albert. Having saved their son, the Count is now welcome in the home of Fernand and Mercedes.Taking note of his mannerisms, Mercedes soon works out that the Count is actually Edmond Dantes, but the Count still has a bone to pick with her, as she married Fernand very shortly after his arrest and had Fernand's son, Albert (Cavill), not long after that. This seemed a sign of her infidelity, but the Count ultimately learns that Villefort had announced that Dantes was dead shortly after the onset of his imprisonment. Fernand, it turns out, had bargained for this announcement, from which he hoped to gain the hand of Mercedes, by murdering, at Villefort's request, Villefort's father. Now understanding that Mercedes had believed him dead, the Count is less incensed by her marriage to Fernand, but still finds the very short period of time between his imprisonment and their marriage very unsettling.The Count is about to turn his back completely on Mercedes. But then, Fernand's financial ruin from compulsive gambling compels him to leave Paris to evade his debtors, against whom he has committed crimes. Unwilling to follow Fernand with their son, Mercedes, finally, tells the Count the truth ---- she had married Fernand because she had, unknown to the Count, been impregnated by Dantes shortly before he was arrested. She wanted Albert to have a father. In truth, however, Albert's biological father is the Count himself.Finally willing to forgive her, the Count falls in love all over again with Mercedes, and, with those who had betrayed them out of the way, they resolve to live their lives, casting aside the dark and regrettable episodes which had robbed them of so many happy times with each other and with their son Albert.")

## Save the processed data for future use

In [8]:
print('# of rows before dropping incomplete entries:', df_train.shape[0])
dt_train=df_train.dropna()
print('# of rows after dropping incomplete entries:', df_train.shape[0])
df_train.to_csv('./data/imdb/train.csv', index=False)
df_train.head()

# of rows before dropping incomplete entries: 573385
# of rows after dropping incomplete entries: 573385

,movie_id,sentence1,sentence2,label
0,tt0097576,"The story opens in Monument Valley, Utah, in 1...",Chemistry between Ford and Connery puts this f...,False
1,tt2488496,"Luke Skywalker has vanished. In his absence, t...","You did it, J.J. ... You have ruined Star Wars...",True
2,tt0407887,"In voiceover, Irish-American mobster Frank Cos...","No respect! This remake of ""Internal Affairs"",...",False
3,tt0209144,This is a complex story about Leonard Shelby (...,Scientific and psychological thriller. Who kne...,True
4,tt1285016,"In October 2003, Harvard University student Ma...",A Grossly Overrated But Still Very Good Film A...,False